.tlc-wc {

	h3 { 
		display: flex;
		justify-content: space-between;
		align-items: center;

		a { 
			font-size: 12px;
			font-weight: 600;
			color: var(--fl1-primary);
		}
	}

	&--enrollments {
		display: flex;
		flex-direction: column;
		gap: var(--fl1-spacing-sm);
		margin-bottom: var(--fl1-spacing-lg);

		article {
			background: var(--fl1-white);
			padding: var(--fl1-spacing-md);
			border-radius: var(--fl1-radius-md);
			display: flex;
			align-items: center;
			gap: var(--fl1-spacing-xl);

			figure { 
				width: 240px;
				border-radius: var(--fl1-radius-md);
				overflow: hidden;
			}

			.enrollment-content {
				display: flex;
				flex-direction: column;
				gap: var(--fl1-spacing-sm);
				padding-right: var(--fl1-spacing-xl);
				flex: 1;

				h4 { 
					font-size: var(--fl1-font-md);
					color: var(--fl1-text);
					font-weight: 600;
	
					a { 
						color: var(--fl1-text);
						&:hover {
							color: var(--fl1-primary);
						}
					}
				}

				h5 { 
					gap: var(--fl1-spacing-xs);
					font-size: var(--fl1-font-xxs);
					color: var(--fl1-text-light);

					small { 
						display: block;
						font-size: 0.75rem;
						font-weight: 700;
						color: var(--fl1-text);
					}
				}
			}

			.enrollment-actions {
				max-width: 200px;
				display: flex;
				flex-direction: column;
				align-items: center;
				gap: var(--fl1-spacing-lg);
			}

		}
	}
}
