@use "sass:math";

@import "../../../scss/inc/vars";
@import "../../../scss/inc/mixins";
@import "../../../scss/inc/animations";

.tlc {
	@import "tlc-resources-filters";
	@import "tlc-courses-filters";

    &-courses { 
		display: flex;
		flex-direction: column;
		gap: var(--fl1-spacing-lg);
		margin-bottom: var(--fl1-spacing-lg);

        &--group {
            background: #E1D9F0;
            border-radius: 32px;
            padding: 32px;

            header {
                display: flex;
                justify-content: space-between;
				align-items: center;
				margin-bottom: var(--fl1-spacing-sm);

                h2 {
                    font-size: var(--fl1-font-md);
                    font-weight: 700;
                    color: var(--fl1-text);
                }

				a { 
					display: flex;
					gap: var(--fl1-spacing-xs);
					font-weight: 600;
					font-size: var(--fl1-font-xxs);
				}
            }

        }
    }

	&-resources-wrap {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-wrap: wrap;
		margin: var(--fl1-spacing-md) 0 var(--fl1-spacing-xl);

		aside { 
			max-width: 260px;
		}
	}
}

@import "tlc-wc-my-account";
@import "tlc-single-event";
@import "tlc-events";
@import "tlc-resources";