/*
*	Blog Single
*
*	Styles for blog single
*
*	@package Blog
*	@version 1.0
*/

.blog__single-wrapper {
    display: flex;
    justify-content: space-between;
	z-index: 1;
    padding: var(--fl1-spacing-md) 0 !important;
	position: relative;
}

.blog__single {
    flex: 1;

    .max__width {
        padding: 0;
    }

    @include breakpoint(brotherbear) {
        flex-direction: column;
        padding-right: 0;
    }

    .blog__info {
        padding-bottom: var(--fl1-spacing-lg);
		display: flex;
		flex-direction: column;
		gap: var(--fl1-spacing-sm);

        h5 {
            font-size: var(--fl1-font-xs);
            font-weight: 700;
            color: var(--fl1-text);
            text-transform: uppercase;

            a {
                color: $primary;
                &:hover {
                    color: lighten($primary, 20%);
                }
            }
        }

        h1 {
            font-size: 3rem;
            text-transform: none;
            color: var(--fl1-text);
            font-weight: 700;
            line-height: 1.2;
        }

        date {
            color: var(--fl1-primary);
            font-size: var(--fl1-font-sm);
            font-weight: 600;
            display: block;
        }

        p.blog__excerpt {
            font-size: var(--fl1-font-lg);
            line-height: 1.7;
        }
    }

    .blog__pagination {
        display: flex;
        justify-content: space-between;
        margin: 20px 0;
        padding: 20px 0;
        border-top: 1px solid $secondary;
        border-bottom: 1px solid $secondary;

        a {
            text-transform: uppercase;
            color: $baseFontColor;
            font-weight: bold;
        }
    }

    &-members {
        background: $lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 40px;
        margin-bottom: 40px;

        p {
            font-weight: 700;
            font-size: 21px;
            margin-bottom: 20px;
        }

        small {
            font-size: 14px;
            color: $text;
            display: block;
            margin-top: 15px;
            a {
                color: $primary;
            }
        }
    }

    .author {
        padding: 16px;
        background: $lightgrey;
        border-radius: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 60px;

        @include breakpoint(mamabear) {
            align-items: flex-start;
        }

        figure {
            max-width: 135px;
            width: 100%;

            @include breakpoint(mamabear) {
                max-width: 100px;
            }

            img {
                border-radius: 8px;
            }
        }

        &-content {
            flex: 1;
            padding: 0 32px 0;

            @include breakpoint(mamabear) {
                padding: 0 20px;
            }

            h4 {
                font-size: 24px;
                color: $primary;
                font-weight: 700;
                margin-bottom: 0;
            }

            h6 {
                font-size: 18px;
                color: $text;
                font-weight: 700;
                margin-bottom: 0;

                @include breakpoint(mamabear) {
                    line-height: 20px;
                    font-size: 16px;
                    font-weight: 500;
                }
            }

            .description {
                margin-top: 10px;
            }

            p {
                font-size: 16px;
                color: $textLight;
                margin-bottom: 0;
                font-weight: 400;
                line-height: 22px;
            }

            ul { 
                margin-top: 10px;
                li { 
                    font-size: 16px;
                    color: $textLight;
                    display: flex;
                    align-items: center;
                    i { 
                        margin-right: 8px;
                        color: $primary;

                        @include breakpoint(mamabear) {
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
